


<div id="sidebar" class="col-md-4">
    <div class="row">
        <section class="col-md-12 wow fadeIn">
            <div class="about">
                <h3>My System</h3>
                @*<img src="~/images/cutmypic.png" class="avatar-full-width img-fluid" />*@
                <p>.Net developer actually based in UK</p>
                <p><a asp-controller="Home" asp-action="Contact" class="btn btn-ada-dark">Get in touch</a></p>

            </div>
        </section>
        <section class="col-md-12 wow fadeIn">
            <div class="tags">

                <h3>Tags</h3>

                <a asp-controller="home" asp-action="blogtwo" class="btn btn-ada-dark btn-tag">#music</a>
                @*<a href="#" class="btn btn-ada-dark btn-tag">#surfing</a>
                <a href="#" class="btn btn-ada-dark btn-tag">#holiday</a>*@
                <a asp-controller="home" asp-action="blogone" class="btn btn-ada-dark btn-tag">#lifestyle</a>
                @*<a href="#" class="btn btn-ada-dark btn-tag">#travel</a>*@

            </div>
        </section>

        <section class="col-md-12 wow fadeIn">
            <div class="popular-posts">

                <h3>Popular posts</h3>

                @*<a href="post-image.html">
                    <img src="~/images/DeathtoStock_EnergyandSerenity6.jpg" class="img-fluid" />
                    <h4>Don't look at me</h4>
                </a>*@

                @*<a href="post-image.html">
                    <img src="~/images/DeathtoStock_EnergyandSerenity5.jpg" class="img-fluid" />
                    <h4>I'm only breathing</h4>
                </a>*@

                <span>
                    <img src="~/images/DeathtoStock_EnergyandSerenity2.jpg" class="img-fluid" />
                    <h4>You are alright</h4>
                </span>


            </div>
        </section>

    </div>
</div>
