@{
    ViewData["Title"] = "BlogTwo";
}
<div class="loading"></div>


<div id="single">

    <div class="container">

        <div class="post">

            <div class="caption">
                <div class="header">
                    <img src="~/images/p4ccugt0ubisk4kc.jpg" class="avatar img-circle" />

                    <h1></h1>
                    <h3>Under Construction</h3>
                </div>

    
            </div>
        </div>

    </div>

</div>



<a id="scroll-to-top">
    <i class="fa fa-angle-up"></i>
</a>

