@{
    ViewData["Title"] = "Home Page";
}

<div id="posts" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <section class="col-md-12 wow fadeIn">
                    <div class="post">
                        <div class="row">
                            <div class="col-md-6 media">
                                <img src="~/images/friends.jpg" class="img-fluid" />
                            </div>
                            <div class="col-md-6 caption">
                                <span class="post-tag">#Amicizia</span>
                                <a asp-controller="Home" asp-action="BlogOne">Gli Amici di una vita</a>
                                <span class="post-date">21 Marzo 2019</span>
                                <p class="post-description">
                                    Chi sono gli amici di una vita?
                                    Senza rifletterci troppo si potrebbe rispondere: gli amici che conosci da una vita. 
                                    Il che, detto da una persona la cui età inizia con un 2, potrebbe però anche suonare: 
                                    gli amici che hai conosciuto quando eri piccolo e con cui sei cresciuto.
                                    <a asp-controller="home" asp-action="BlogOne">Insomma,</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 wow fadeIn">
                    <div class="post">
                        <div class="media">
                            <div id="slides-1">
                                <img src="~/images/DeathtoStock_EnergyandSerenity2.jpg" class="img-fluid" />
                                @*<img src="~/images/DeathtoStock_EnergyandSerenity3.jpg" class="img-fluid" />
                                <img src="~/images/DeathtoStock_EnergyandSerenity2.jpg" class="img-fluid" />
                                <img src="~/images/DeathtoStock_EnergyandSerenity2.jpg" class="img-fluid" />*@
                            </div>
                        </div>
                        <div class="caption text-center">
                            <span href="post-image.html" class="post-title">Under Construction</span>
                            <span class="post-date">4 Sept 2018</span>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 wow fadeIn">
                    <div class="quote">

                        <i class="quote-left fa fa-quote-left"></i>
                        <i class="quote-right fa fa-quote-right"></i>

                        <div class="text-center">
                            <img src="~/images/cutmypic (1).png" class="quote-face" />
                            <blockquote>
                                <p>Get busy living or get busy dying</p>
                                <footer>Nicola Di Lillo</footer>
                            </blockquote>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 wow fadeIn">
                    <div class="post">
                        <div class="media">
                            <div id="slides-2">
                                <img src="~/images/DeathtoStock_EnergyandSerenity6.jpg" class="img-fluid" />
                                @*<img src="~/images/DeathtoStock_EnergyandSerenity3.jpg" class="img-fluid" />
                                <img src="~/images/DeathtoStock_EnergyandSerenity3.jpg" class="img-fluid" />*@
                            </div>
                        </div>
                        <div class="caption text-center">
                            <span href="post-image.html" class="post-title">You're alright</span>
                            <span class="post-date">4 Sep 2018</span>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 wow fadeIn">
                    <div class="post">
                        <div class="caption">

                            <div class="post-thumb">
                                <img src="~/images/DeathtoStock_EnergyandSerenity1.jpg" class="img-fluid" />
                            </div>

                            <span class="post-tag">#music</span>
                            <span href="post-image.html" class="post-title">Under Construction</span>
                            <p class="post-description">
                                Under Construction
                            </p>
                            <span class="post-date">04 Sept 2018</span>
                        </div>
                    </div>
                </section>

                @*<section class="col-md-12 wow fadeIn">
                    <div class="post">
                        <div class="row">
                            <div class="col-md-6 caption">
                                <span class="post-tag">#music</span>
                                <a href="post-image.html" class="post-title">Show a little discipline</a>
                                <span class="post-date">23 Mar 2015</span>
                                <p class="post-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <a href="#">Aenean massa</a>. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean commodo ligula eget dolor.</p>
                            </div>
                            <div class="col-md-6 media">
                                <img src="img/photos/DeathtoStock_EnergyandSerenity31.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </section>*@

                <section class="col-md-6 wow fadeIn" style="display:none;">
                    <div class="post">
                        <div class="media">
                            <img src="img/photos/DeathtosStockSerenity9.jpg" class="img-fluid" />
                        </div>
                        <div class="caption text-center">
                            <a href="post-image.html" class="post-title">Loose lips</a>
                            <span class="post-date">3 Jan 2015</span>
                        </div>
                    </div>
                </section>

                @*<section class="col-md-6 wow fadeIn" style="display:none;">
                    <div class="post">
                        <div class="media">
                            <img src="img/photos/DeathtoStock_EnergyandSerenity2.jpg" class="img-fluid" />
                        </div>
                        <div class="caption text-center">
                            <a href="post-image.html" class="post-title">Sink</a>
                            <span class="post-date">7 Sept 2014</span>
                        </div>
                    </div>
                </section>*@

                @*<div class="col-md-12">
                    <div class="text-center">
                        <a href="#" class="btn btn-ada-light load-more">Older posts</a>
                    </div>
                </div>*@

            </div>
        </div>
        @*@Html.Partial("_Sidebar")*@
        <partial name="_Sidebar" />
    </div>
</div>

<a id="scroll-to-top">
    <i class="fa fa-angle-up"></i>
</a>

