@model MyBlog.Models.CommentDTO
@{
    ViewData["Title"] = "Main";

   
}

<div id="single">
    <div class="container">
        <div class="post">
            @*<img src="~/images/DeathtosStockSerenity9.jpg" class="img-fluid" />*@

            <div class="header">
                <span class="post-tag">#LifeStyle</span>
                <h1>Life Lessons…&nbsp; Version 40.0…</h1>
            </div>

            <div class="caption">
                <ol>


                    <li>
                        <strong>Life is now.&nbsp;</strong><p>We keeping waiting for that amazing thing to happen 
                        in the future that will be the key to our happiness. But this is it. Right now. 
                        Life continues to be a series of right nows. So learn to love right now, and you'll have an amazing life.</p>
                    </li>
                    <li>
                        <strong>Fear is an illusion (mostly).</strong>
                        <p>
                            Most of the things we fear never happen. Or if they do happen, 
                            they are rarely as bad as we fear they will be. For most of us, 
                            fear is the worst thing that will happen to us. Reality isn't as painful.
                        </p>
                    </li>
                    <li>
                        <strong>Relationships rule. </strong><p>At the end of the day, what matters most are the people in our lives.
                        Put them first every single day. Before work. Before the computer. Before your hobbies. Treat them like they are your everything. Because they are.</p>
                    </li>
                    <li>
                        <strong>Fun is underrated. </strong><p>How much of your day is fun? Really fun?
                        Life is short. You should enjoy it. Don't make things serious that don't have to be.
                        Create more fun in your life. Don't worry about what other people think of your fun. Just enjoy it.</p>
                    </li>
                    <li>
                        <strong>Failure is good. </strong>
                        We try so hard to avoid failure, but failure is the real evidence that we've had the courage to try.
                        If you avoid failure, you avoid taking action. Expect and accept that failure is part of the experience. Learn from it, grow from it, and move on.
                    </li>
                    <li>
                        <strong>Friendships need care. </strong>
                        One of the top five regrets of the dying is that they let their friendships fade away.

                        Friendships need time and attention. They need to be prioritized not just in word but in deed.

                        Nurture them like a prized garden. The payoff is so worth it.
                    </li>
                </ol>

            </div>

            @*<h2>Life Lessons…&nbsp; Version 40.0…</h2>
                <ol>
                    <li><strong>Being a parent is harder than you think. </strong>Before I had kids, I used to get annoyed by kids whining on airplanes.&nbsp; I used to think “Gosh, get control of your kid” in a lot of situations.&nbsp; <em>How hard can it be?</em> And now… I know.&nbsp; Even with only one (who, by the way, is an angel 95% of the time) I get it.&nbsp; I can’t believe how easily I become frustrated sometimes.&nbsp; I can’t imagine those of you with 3, 4, or 5 rugrats.</li>
                    <li><strong>Being a husband is harder than you think. </strong>Of course, this was the main topic behind my original <a href="http://manvsdebt.com/3-lessons-learned-in-3-years-of-marriage/" target="_blank">3 marriage lessons</a> post.&nbsp; Everyone told me marriage takes dedicated and consistent effort.&nbsp; I acknowledged the words, but detached myself because I assumed we were an exception.&nbsp; Doh.</li>
                    <li><strong>Be willing to give away the glory. </strong>One of the best ways I’ve found to have someone accept an idea/concept is to make them feel like they came up with it themselves.<strong> </strong>Many of the people I respect most are amazing at sharing and giving away the limelight when it comes.&nbsp; They are constantly taking a back seat to build up others.</li>
                    <li><strong>You can do anything you want.&nbsp; No seriously… you can literally do anything. </strong>As kids, we are always told this, but most of us dismiss it as foo-foo.&nbsp; It’s not.&nbsp; In the last year, I’ve really come to terms with this.&nbsp; I can literally do whatever I want.&nbsp; Some of that is confidence and some of it comes from just having my eyes opened recently.&nbsp; The largest thing between you and what you want is whatever glob of excuses you can pile up.</li>
                    <li><strong>Very few decisions in life require intense research. </strong>90% of research/data-gathering is a waste of time.&nbsp; I’ve found this true in my personal life and I’ve certainly found it true in my business.&nbsp; Nearly without exception, I over analyze every decision I make.&nbsp; Stop talking… stop thinking… stop planning… start doing.</li>
                    <li><strong>Intensely research any decision that limits a large amount of your freedom. </strong><img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;">&nbsp; As a rule, the more freedom that is at stake in a decision, the more I’ll research it.&nbsp; The real reason is that I’m o.k. if research leads to indecision in cases where freedom is at risk.&nbsp; Take buying a home, deciding to have kids, or taking a new 80 hour/week job, for example.&nbsp; It’s not really a bad thing to second guess yourself there.&nbsp; Things to stop analyzing?&nbsp; The perfect weekend to go camping, a new product/service you want to launch, or whether or not to let your kids paint their room neon pink.&nbsp; Do it.</li>
                    <li><strong>The majority of people think they are above average. </strong>I constantly remind myself of this fact.&nbsp; By nature, we tend to over estimate our own skills and/or contributions.&nbsp; Not only that, but we are much <em>less</em> aware of what other people contribute. I do it and you do it, too.&nbsp; So recognize it.&nbsp; Go out of your way to thank people for the things you <em>do </em>notice.</li>
                    <li><strong>The best feedback you’ll ever get is when you try to sell something to someone. </strong>So this is a purely entrepreneurial one I’ve learned.&nbsp; It goes back to #7.&nbsp; The most valuable data/feedback you’ll ever have is <em>after</em> you launch a product, service, or idea.&nbsp; Seth Godin refers to this a “shipping it”.</li>
                    <li><strong>People automatically devalue anything they get for free. </strong>While we are on the topic, be careful about what you give away for free.&nbsp; This can be applied beyond business, too.&nbsp; Family, friends, clients, colleagues…&nbsp; We automatically place more value on things we have to pay (money, time, effort, energy) for.&nbsp; Give someone something for free consistently and they quickly begin to expect it.</li>
                    <li><strong>Instead of teaching kids to study concepts, we should be teaching them to solve problems. </strong>I won’t dive too much into what I know is an insanely deep and polarizing concept.&nbsp; Courtney is much more equipped to discuss education system intelligently.&nbsp; However, I’m not sure teaching kids to “study” a concept (many times something that’s in a weakness) is an empowering approach.&nbsp; Instead, I’d love to see us playing more to kids strengths (whatever those may be individually) and focusing on obtaining <em>solutions</em> to problems.</li>
                    <li><strong>Choosing the correct mentors is the #1 most important factor in success of any kind. </strong>Modeling a mentor is the fastest way to success.&nbsp; It doesn’t matter if you are climbing the corporate ladder, starting a web-based business, playing professional basketball, or studying religion.&nbsp; You’ve gotta find your Branson, your Jobs, your Jordan, your Jesus, or your Buddha.</li>
                    <li><strong>Surround yourself with people who inspire you. </strong>Mentors are essential, however you’ve got to also find a relate to inspiring people on a daily/tangible level.&nbsp; My wife and daughter inspire me.&nbsp; I want them to be involved in everything I do, including my business and my passions.&nbsp; Many of my fellow bloggers inspire me.&nbsp; A couple blogger who are in similar spots, yet continually inspire me are <a href="http://viperchill.com" target="_blank">Glen Allsop</a>, <a href="http://thinktraffic.net" target="_blank">Corbett Barr</a>, <a href="http://farbeyondthestars.com" target="_blank">Everett Bogue</a>, and <a href="http://renmenshow.com" target="_blank">Grant Peele</a>.</li>
                    <li><strong>You don’t need nearly as much money as you think you do. </strong>Another revelation that has come into my life in the past year or so.&nbsp; You really *need* far, far less that what you think.&nbsp; There are single people who travel and live on $5,000 a year.&nbsp; There are families of 5 that eat on $100/month.&nbsp; As a culture, we absolutely squander.&nbsp; I know Courtney and I do.&nbsp; It’s that straightforward.</li>
                    <li><strong>Money doesn’t buy happiness, but it buys everything else! </strong><img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;">&nbsp; This is my fun way of saying that I like money.&nbsp; I want a lot of money.&nbsp; While true, don’t let #14 fool you.&nbsp; I want my family to live a remarkable, yet secure life.&nbsp; I rarely worry about money now, but I want to all but eliminate it as a concern altogether.&nbsp; I want to be able to focus my life on giving in the coming years, while still being able to have an income.&nbsp; But even with money, I want to ensure we embrace…</li>
                    <li><strong>Experiences almost always trump possessions.</strong> I don’t mind spending money (you shouldn’t either), but the key is to do so <em>consciously</em>.&nbsp; For me, conscious spending is concentrated on 90-95% experience and 5-10% actual “stuff”.&nbsp; Up until the last few years, I had it backwards.&nbsp; I liked to talk about how I loved “experiences”, but I spent my money on stuff.&nbsp; I want to keep our focus on experiences whether we are making $20k per year or $200k per year.&nbsp; <em>*Note:&nbsp; Unless we are talking about an iPhone.&nbsp; Seriously, have you seen this thing?*</em> <img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;"></li>
                    <li><strong>Focus the bulk of your energy on leveraging your strengths, not on improving weaknesses. </strong>I touched on this in #11, but it doesn’t just apply to our approach to education.&nbsp; When we think about ourselves, many of us tend to try to work on our weaknesses.&nbsp; In doing so, we limit the time we spend leveraging our strengths.&nbsp; I’m not suggesting to ignore areas in which you need improvement, but every time I focus the bulk of my energy on my strengths (without totally ignoring other areas), I achieve much better results even within my weaknesses.&nbsp; It’s a matter or positive perspective and sustaining motivation.&nbsp; It really works.</li>
                    <li><strong>Be the change you want to see in the world. </strong>Yeah, I know…&nbsp; a little foo-foo.&nbsp; But this one is a good one.&nbsp; If you are trying to convert people by knocking on doors and handing out pamphlets, you are doing it wrong.&nbsp; It’ll always be an uphill battle.&nbsp; Try modeling for people.&nbsp; Try impressing… try inspiring.&nbsp; Use your <em>actions</em> to show me not only the <em>how</em>, by the <em>why</em>.</li>
                    <li><strong>The answer will always be no if you don’t ask. </strong>Seriously, if you want something you have to ask.&nbsp; Don’t be a blunt prick.&nbsp; Ask genuinely and ask politely.&nbsp; If you just ask…&nbsp; you’ll be surprised more often than not.</li>
                    <li><strong>The worse I eat, the less productive I am.&nbsp; The less productive I am, the worse I eat. </strong>Also, I’ve realized that feeling like crap on a regular basis <em>is not</em> enough motivation to eat healthier.&nbsp; Sad, but true.&nbsp; And I don’t think I’m alone on that one.&nbsp; Most of us know that it’s the cause of so many problems, yet we don’t change.&nbsp; You don’t get out of debt because “you should”.&nbsp; You don’t eat healthy and exercise because “it’s good for you”.&nbsp; Find your motivation (I’m talking to myself here).</li>
                    <li><strong>Empowering other people is what really matters in life.</strong> I want to empower.&nbsp; I want to empower Courtney to be the most amazing and fulfilled person she can be.&nbsp; I want to empower Milligan to do whatever passions are currently bringing her joy (right now she really likes playing with her purple ball, playgrounds, and taking naps).&nbsp; I want to empower complete strangers to see opportunities in their own lives that they’ve buried under mounds of stuff, debt, and excuses.&nbsp; <img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;"></li>
                    <li><strong>Saying “no” politely is far better than saying a half-assed “yes”. </strong>Learning to respectfully and politely say “no” is one of the skills I desire most.<strong> </strong>Especially in the online world, I tend to want to say yes to everything.&nbsp; There are so many amazing people, opportunities, projects, and feedback.&nbsp; It’s all right here, right now.&nbsp; But, I’ve been saying “yes” and then completely letting people down way too much recently.&nbsp; It’s not a matter of being “busy” or “important”.&nbsp; Everyone is busy and important.&nbsp; It’s a matter of really being to knock the socks of the projects I can do.&nbsp; I want to either give 110% or 0%.&nbsp; I want to learn to say “no” in a way people enjoy.</li>
                    <li><strong>There are very few unique personal problems.</strong> Chances are millions of people have gone through whatever issue you may have.&nbsp; Chances are at least one of those people is much closer than you think.&nbsp; Problem is we think any issues we may have are unique and we assume those close to us wouldn’t understand.&nbsp; Wrong.</li>
                    <li><strong>It’s o.k. to be a fan.</strong> I used to reject the concept of being a fan.&nbsp; I didn’t want to be seen on a “bandwagon”.&nbsp; I didn’t want someone to call me a “fanboy”.&nbsp; I wanted to think for myself.&nbsp; Now, I’ve come to terms that being a fan is fun.&nbsp; I like cheering for the Packers.&nbsp; I love my man crush I have on <a href="http://chrisguillebeau.com/3x5" target="_blank">Chris Guillebeau’s work</a>.&nbsp; I love how much passion Eddie Vedder brings to every song.&nbsp; I love watching <a href="http://tv.winelibrary.com" target="_blank">Wine Library TV</a> even though I’ve never tasted a wine in my life that I enjoyed.&nbsp; I love the fact that Big Mike was saved by the judges last week on American Idol…&nbsp; (<em>too far?</em>).&nbsp; <img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;"></li>
                    <li><strong>The more I act like my daughter.&nbsp; The happier I am. </strong>The more I play, mimic, tease, and chase my daughter in any given day… the happier I am when I go to bed at night.&nbsp; The simple act of being silly is one I lost over the last 6-7 years.&nbsp; It’s taken a toddler to slowly infuse this back into me.&nbsp; I want to embrace it even more.</li>
                    <li>As a child, I never once worried about food, water, shelter, or love.&nbsp; I was never once abused or neglected.&nbsp; I got everything I needed and most of what I wanted.&nbsp; Both my parents were (and still are) hard-working, supportive, and have great values.&nbsp;<strong> The older I get, the more I realize how insanely fortunate this makes me.</strong></li>
                </ol>

                <div id="_mcePaste" style="position: absolute; left: -10000px; top: 2094px; width: 1px; height: 1px; overflow: hidden;">
                    <p><a href="http://manvsdebt.com/26-life-lessons"><img class="aligncenter  size-full wp-image-4273" title="Life Lessons" src="http://manvsdebt.com/wp-content/uploads/2010/04/2313927146_d29bc45495_b.jpg" alt="Life Lessons" width="624" height="416"></a></p>
                    <p>Today, I turn 26 years old.</p>
                    <p><em>[pause for cheering]</em></p>
                    <p>A  little over a month ago, I wrote the post “<a href="http://manvsdebt.com/3-lessons-learned-in-3-years-of-marriage/" target="_blank">3  Lessons I’ve Learned in 3 Years of Marriage</a>“.&nbsp; I’ll be the first to  admit, I wasn’t sure how the post would be received.&nbsp; To my surprise,  it was a big hit (even if being a bit of a random topic)!</p>
                    <p>Due to  the reception of that post, I decided that the best way to celebrate my  birthday was to <em>reflect</em>.&nbsp; I decided to sit down and write out the  first 26 “life lessons” that came to me.&nbsp; This isn’t meant to be some  master list, it’s just a reflection of a lot of the things I’m going  through right now.</p>
                    <p>I’m guessing you’ll be able to relate to at  least a few!&nbsp; <img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;"></p>
                    <h2>Life Lessons…&nbsp; Version 26.0…</h2>
                    <ol>
                        <li><strong>Being a parent is harder than you think. </strong>Before I had  kids, I used to get a little annoyed by kids whining on airplanes.&nbsp; I  used to think “Gosh, get control of your kid” in a lot of situations.&nbsp;  How hard can it be?&nbsp; And now I know.&nbsp; Even with only one (who, by the  way, is an angel 95% of the time) I get it.&nbsp; I can’t believe how easily I  become frustrated sometimes.&nbsp; I can’t imagine those of you with 3, 4,  or 5 rugrats.</li>
                        <li><strong>Being a husband is harder than you think. </strong>Of course, this  was the main topic behind my original <a href="http://manvsdebt.com/3-lessons-learned-in-3-years-of-marriage/" target="_blank">3  marriage lessons</a> post.&nbsp; Everyone told me marriage takes dedicated  and consistent effort.&nbsp; I acknowledged the words, but detached myself  because I assumed we were an exception.&nbsp; Doh.</li>
                        <li><strong>There will always be haters. </strong>No matter what you do or how  much you give, there will always be haters.&nbsp; I’m making a pledge to rid  my life (and my online world) of any consistently negative,  non-constructive forces.&nbsp; If you want to hate… go get your reaction  someplace else.</li>
                        <li><strong>Be willing to give away the glory. </strong>One of the best ways  I’ve found to have someone accept an idea/concept is to make them feel  like they came up with it themselves.<strong> </strong>Many of the people I  respect most are amazing at sharing and giving away the limelight when  it comes.&nbsp; They are constantly taking a back seat to build up others.</li>
                        <li><strong>You can do anything you want.&nbsp; No seriously… you can  literally do anything. </strong>As kids, we are always told this, but most  of us dismiss it as foo-foo.&nbsp; It’s not.&nbsp; In the last year, I’ve really  come to terms with this.&nbsp; I can literally do whatever I want.&nbsp; Some of  that is confidence, some of it comes from just having my eyes opened  recently.&nbsp; The only thing between you and what you want is whatever  excuses you can make.</li>
                        <li><strong>Very few decisions in life require intense research. </strong>90% of  research/data is a waste of time.&nbsp; I’ve found this true in my personal  life and I’ve certainly found it true in my business.&nbsp; Nearly without  except, I over analyze every decision I make.&nbsp; Stop talking… stop  thinking… stop planning… start doing.</li>
                        <li><strong>Intensely research any decision that limits a large amount of  your freedom. </strong><img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;">&nbsp; As a rule, the more freedom that is at stake in a  decision, the more I’ll research it.&nbsp; The real reason is that I’m o.k.  if research leads to indecision in this case.&nbsp; Take buying a home,  deciding to have kids, or taking a new 80 hour/week job, for example.&nbsp;  Things to stop analyzing?&nbsp; The perfect weekend to go camping, a new  product/service you want to launch, or whether or not to let your kids  paint their room neon pink.</li>
                        <li><strong>The majority of people think they are above average. </strong>I  constantly remind myself of this fact.&nbsp; By nature, we tend to over  estimate our own skills and/or contributions.&nbsp; Not only that, but we are  much <em>less</em> aware of what other people contribute. I do it and you  do, too.&nbsp; So recognize it.&nbsp; Go out of your way to thank people for the  things you <em>do </em>notice.</li>
                        <li><strong>The best feedback you’ll ever get is when you try to sell  something to someone. </strong>So this is a purely entrepreneurial one I’ve  learned.&nbsp; It goes back to #7.&nbsp; The most valuable data/feedback you’ll  ever have is <em>after</em> you launch a product, service, or idea.&nbsp; Seth  Godin refers to this a “shipping it”.</li>
                        <li><strong>People automatically devalue anything they get for free. </strong>While  we are on the topic, be careful about what you give away for free.&nbsp;  This can be applied beyond business, too.&nbsp; Family, friends, clients,  colleagues…&nbsp; We automatically place more value on things we have to  pay (money, time, effort, energy) for.&nbsp; Give someone something for free  consistently and they quickly begin to expect it.</li>
                        <li><strong>Instead of teaching kids to study concepts, we should be  teaching the to solve problems. </strong>I won’t dive too much into what I  know is an insanely deep and polarizing concept.&nbsp; Courtney is much more  equipped to discuss education system intelligently.&nbsp; However, I’m not  sure teaching kids to “study” a concept (many times something that’s in a  weakness) is an empowering approach.&nbsp; Instead, I’d love to see us  playing more to kids strengths (whatever those may be individually) and  focusing on obtaining <em>solutions</em> to problems.</li>
                        <li><strong>Choosing the correct mentors is the #1 most important factor in  success of all kinds. </strong>Modeling a mentor is the fastest way to  success.&nbsp; It doesn’t matter if you are climbing the corporate ladder,  starting a web-based business, playing professional basketball, or  studying religion.&nbsp; You’ve gotta find your Branson, your Jobs, your  Jordan, your Jesus, or your Buddha.</li>
                        <li><strong>Surround yourself with people who inspire you. </strong>Mentors are  essential, however you’ve got to also find a relate to inspiring people  on a daily/tangible level.&nbsp; My wife and daughter inspire me.&nbsp; I want  them to be involved in everything I do, including my business.&nbsp; Many of  my fellow bloggers inspire me.&nbsp; A couple that are in similar spot that  continually inspire me are <a href="http://viperchill.com" target="_blank">Glen  Allsop</a>, <a href="http://thinktraffic.net" target="_blank">Corbett Barr</a>, and <a href="http://farbeyondthestars.com" target="_blank">Everett Bogue</a>.</li>
                        <li><strong>You don’t need nearly as much money as you think you do. </strong>Another  revelation that has come into my life in the past year or so.&nbsp; You  really *need* far, far less that what you think.&nbsp; There are single  people who travel and live on $5,000 a year.&nbsp; There are families of 5  that eat on $100/month.&nbsp; As a culture, we absolutely squander.&nbsp; I know  Courtney and I do.&nbsp; It’s that straightforward.</li>
                        <li><strong>Money doesn’t buy happiness, but it buys a lot of other cool  stuff! </strong><img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;">&nbsp; This is my fun way of saying that I like money.&nbsp; I want  a lot of money.&nbsp; While true, don’t let #14 fool you.&nbsp; I want my family  to live a remarkable, yet secure life.&nbsp; I rarely worry about money now,  but I want to all but eliminate it as a concern.&nbsp; I want to be able to  focus my life on giving in the coming years, while still being able to  have an income.&nbsp; But even with money, I want to ensure we embrace…</li>
                        <li><strong>Experiences almost always trump possessions.</strong> I don’t mind  spending money (you shouldn’t either), but the key is to do so <em>consciously</em>.&nbsp;  For me, conscious spending is concentrated on 90-95% experience and  5-10% actual “stuff”.&nbsp; Up until the last few years, I had it backwards.&nbsp;  I liked to talk about how I loved “experiences”, but I spent my money  on stuff.&nbsp; I want to keep our focus on experiences whether we are making  $20k per year or $200k per year.&nbsp; <em>*Note:&nbsp; Unless we are talking  about an iPhone.&nbsp; Seriously, have you seen this thing?*</em> <img src="http://manvsdebt.com/wp-includes/images/smilies/simple-smile.png" alt=":-)" class="wp-smiley" style="height: 1em; max-height: 1em;"></li>
                        <li><strong>Focus the bulk of your energy on leveraging your strengths, not  on improving weaknesses. </strong>I touched on this in #11, but it doesn’t  just apply to our approach to education.&nbsp; When we think about ourselves,  many of us tend to try to work on our weaknesses.&nbsp; In doing so, we  limit the time we spend leveraging our strengths.&nbsp; I’m not suggesting to  ignore areas in which you need improvement, but every time I focus the  bulk of my energy on my strengths (without totally ignoring other  areas), I achieve much better results even with my weaknesses.&nbsp; It’s a  matter or positive perspective and sustaining motivation.&nbsp; It really  works.</li>
                        <li><strong>Be the change you want to see in the world. </strong>Yeah, I  know…&nbsp; a little foo-foo.&nbsp; But this one is a good one.&nbsp; If you are  trying to convert people by knocking on doors and handing out pamphlets,  you are doing it wrong.&nbsp; It’ll always be an uphill battle.&nbsp; Try  modeling for people.&nbsp; Try impressing… try inspiring.&nbsp; Use your <em>actions</em> to show me not only the <em>how</em>, by the <em>why</em>.</li>
                        <li><strong>The answer will always be no if you don’t ask. </strong>Seriously,  if you want something you have to ask.&nbsp; Don’t be a blunt prick.&nbsp; Ask  genuinely and ask politely.&nbsp; If you just ask…&nbsp; you’ll be surprised  more often than not.</li>
                        <li><strong>The worse I eat, the less productive I am.&nbsp; The less productive  I am, the worse I eat. </strong>Also, I’ve realized that feeling like crap  on a regular basis <em>is not</em> enough motivation to eat healthier.&nbsp;  Sad, but true.&nbsp; And I don’t think I’m alone on that one.&nbsp; Most of us  know, it’s the cause of so many problems, yet we don’t change.&nbsp; You  don’t get out of debt because “you should”.&nbsp; You don’t eat healthy and  exercise because “it’s good for you”.&nbsp; Find your motivation (I’m talking  to myself here).</li>
                        <li>Empowering other people (family, friends, strangers) is what  really matters in life.</li>
                        <li>Being a fan is fun.</li>
                        <li>Learning to respectfully and politely say “no” is one of the  skills I desire most.</li>
                        <li>There are very few unique personal problems.&nbsp; Chances are millions  of people have gone through whatever issue you may have.&nbsp; Chances are  at least one of those people is much closer than you think.&nbsp; Problem is  we think any issues we may have are unique and we assume those close to  us wouldn’t understand.</li>
                        <li>The worse I eat, the less productive I am.&nbsp; The less productive I  am,  the worse I eat.&nbsp; Constantly feeling like crap is not enough to  make me eat better.&nbsp; It’s really not.</li>
                        <li>Don’t be afraid to make mistakes.&nbsp; Fear of making a mistake is</li>
                        <li>As a child, I never once worried about food, water, shelter, or  love.&nbsp; I was never once abused or neglected.&nbsp; I got everything I needed  and most of what I wanted.&nbsp; Both my parents were (and still are)  hard-working, supportive, and have great values.&nbsp;<strong> The older I get,  the more I realize how insanely fortunate this makes me.</strong></li>
                    </ol>*@





            @*<div class="caption">*@


            @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque <a href="#">penatibus</a> et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, <strong>pretium quis, sem.</strong></p>

                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

                <p><strong>Aliquam lorem ante</strong>, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. <strong>Etiam rhoncus</strong>. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante <a href="#">tincidunt tempus</a>.</p>

                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor./p>*@

            @*<div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Donec quam felis</li>
                            <li>Consectetuer adipiscing</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Donec quam felis</li>
                            <li>Consectetuer adipiscing</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Donec quam felis</li>
                            <li>Consectetuer adipiscing</li>
                        </ul>
                    </div>
                </div>*@

            @*<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. <strong>Etiam rhoncus</strong>. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante <a href="#">tincidunt tempus</a>.</p>*@

            @*</div>*@
        </div>
        <div id="comments" class="comments">
            @if (Model != null)
            {
                <div class="mt-5">
                    <h5 class="page-title-alt">
                        <span>
                            @Model.comments.Count Comments
                        </span>
                    </h5>
                </div>
                <ol class="media-list list-unstyled">
                    <li class="comment even thread-even depth-1 parent" id="comment-37">
                        @foreach (var comment in Model.comments)
                        {

                            <div id="div-comment-37" class="comment-wrap">
                                <div class="media">
                                    <img alt="" src="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=52&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=104&amp;d=mm&amp;r=g 2x" class="avatar avatar-52 photo d-flex mr-3 rounded-circle" height="52" width="52">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <p class="url">@comment.name</p>
                                        </h4>
                                        <p>@comment.comment</p>
                                        <p class="text-muted post-date">@comment.date</p>


                                    </div>

                                    <br>

                                </div>
                            </div>

                        }
                    </li>
                </ol>
            }
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">
                    <span>Leave A Comment</span>
                    <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="/wp/ablogia/runaway-a-road-adventure/#respond" style="display:none;">Cancel Reply</a>
                    </small>
                </h3>
                <form asp-controller="home" asp-action="postComment" method="post" class="mt-4">

                    <div class="comment-form-comment form-group">

                        <input asp-for="comment" id="comment" type="text" class="form-control" placeholder="Enter your thoughts" />
                        <span asp-validation-for="comment" class="text-danger"></span>
                    </div>
                    <div class="comment-form-author form-group">
                        <input asp-for="author" id="author" type="text" class="form-control" size="30" placeholder="Enter Your Name..." />
                        <span asp-validation-for="author" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="authormail" id="authormail" type="text" class="form-control" size="30" placeholder="Enter Your Email..." />
                        <span asp-validation-for="authormail" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="blogid" id="blogid" type="text" hidden="hidden" value="1" />

                    </div>

                    <p class="form-submit">
                        <input type="submit" id="subt" class="btn btn-dark" value="Post Comment" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>












