@model MyBlog.Models.CommentDTO
@{
    ViewData["Title"] = "Main";

   
}

<div id="single">
    <div class="container">
        <div class="post">
          

            <div class="header">
                <span class="post-tag">#Amicizia</span>
                <h1>Gli Amici di una vita</h1>
            </div>

            <div class="caption">
                gli amici non sarebbero – come recitano immagini e stati commoventi che si diffondono su Facebook – dei “fratelli che ci siamo scelti”. Sono dei fratelli che, esattamente come i veri fratelli, ci sono capitati.
                Si nasce, per puro caso, in uno stesso quartiere. Si fa, per puro caso, lo stesso sport. Si frequenta, per puro caso, la stessa scuola. Si hanno, per puro caso, gli stessi hobby e le stesse possibilità economiche. E il gioco è fatto. Agli esseri umani – conclude Scurati – capita di inciampare uno nell’altro e di fare un pezzo di strada assieme prima che la chimica ormonale completi i propri esperimenti con il corpo puberale. E, voilà, ecco l’amicizia, quella vera,
                ed eccoli, quegli uomini, testimoni l’uno dell’altro per il resto dei loro giorni.
                E, al netto del suo consueto tragico nichilismo, non ha tutti i torti.
                In fondo ciò che distingue gli amici di una vita – quelli che ti sei fatto durante la tua infanzia/adolescenza –
                dagli amici successivi – quelli che ti fai dopo – è proprio il modo in cui affrontano il tempo, la capacità di gestire la durata.
                Se incontri un amico di una vita dopo un periodo di non frequentazione (vuoi perché uno dei due si è trasferito, vuoi perché uno
                dei due si è fidanzato) non c’è alcun imbarazzo iniziale, non c’è alcun vuoto da riempire, alcun inizio da ricostituire
                E probabilmente ciò accade proprio perché non vi siete conosciuti da piccoli, perché non avete giocato insieme, perché non vi siete visti entrambi con l’acne, perché non vi siete visti entrambi un porno. Gli amici di una vita hanno cioè delle fondamenta in comune, ce le hanno e ce le avranno sempre, sono scontate, non hanno bisogno di essere ricostruite. Gli amici che vengono dopo, invece, le fondamenta devono ricostruirle di volta in volta, anche daccapo se serve.
                E questo spiega perché gli amici di una vita, dopo una vita, possono fare un sacco di cose: possono andarsene all’estero e ritornare, possono farsi crescere la barba e tagliarsela, possono prendersi un cane o la playstation 4, possono trovare l’amore e perderlo, possono votare Forza Italia e candidarsi per il M5s, possono fare tutto e il contrario di tutto. Ma agli occhi degli altri amici di una vita una sola cosa non possono fare. Non possono cambiare. E tutti gli altri, quelli che sono venuti dopo, questo non lo possono capire.

                A me viene da pensare spesso a tutto ciò quando tento di misurare la mia vita con il puro metro della logica.
                In fondo – adesso alla mia età – l’amicizia non è più questione di puro e semplice caso. Non del tutto almeno. Adesso a quest’età, tu hai gusti e idee più precise, più sviluppate, più (appunto) adulte. Potresti conoscere e fartela con gente che ha con te delle consonanze, che ha con te delle somiglianze, che è in armonia con quello che fai o con quello che vuoi fare nella vita. L’amicizia, cioè, sarebbe finalmente una questione di affinità elettiva. Mi scelgo gli amici con cui mi trovo meglio. Mi scelgo gli amici che mi merito.
                E magari funziona così.
                Può farlo.
                Magari adesso conosci veramente persone che hanno i tuoi stessi gusti alimentari, che ascoltano la tua stessa musica, che guardano le tue stesse cose, che votano il tuo stesso partito.
                E magari ci esci pure.
                Eppure, proprio no, non ci sta niente da fare. Anche adesso che hai un’età, anche adesso che conosci persone a te più affini, alla fine quelli con cui ti trovi meglio sono sempre i soliti quattro stronzi che – può capitare – rispetto ai tuoi gusti, mangiano merda, ascoltano merda, guardano merda e votano merda.
                E non riesci a capacitartene. Non riesci a comprendere.
                Possibile che basti aver trascorso qualche anno, laggiù nell’infanzia, con questi quattro stronzi per far sì che loro siano i miei amici per sempre? Dov’è il libero arbitrio? Dov’è la giustizia?
                Poi, ci pensi un po’, e capisci tutto. E ci riesci non grazie alla sociologia, non grazie alla psicologia, non grazie alla pedagogia e nemmeno grazie al cuore, quell’organo che, in teoria, dovrebbe riuscire a vedere quell’essenziale che è invece invisibile agli occhi.
                No, capisci tutto grazie alla matematica. Grazie alla pura e semplice aritmetica.
                Esci sempre con i soliti quattro stronzi perché loro non sono quattro.
                Sono tre.
                Il quarto sei tu.
                <div style="text-align:center">*******</div>


            </div>

         
        </div>
        <div id="comments" class="comments">
            @if (Model != null)
            {
                <div class="mt-5">
                    <h5 class="page-title-alt">
                        <span>
                            @Model.comments.Count Comments
                        </span>
                    </h5>
                </div>
                <ol class="media-list list-unstyled">
                    <li class="comment even thread-even depth-1 parent" id="comment-37">
                        @foreach (var comment in Model.comments)
                        {

                            <div id="div-comment-37" class="comment-wrap">
                                <div class="media">
                                    <img alt="" src="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=52&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=104&amp;d=mm&amp;r=g 2x" class="avatar avatar-52 photo d-flex mr-3 rounded-circle" height="52" width="52">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <p class="url">@comment.name</p>
                                        </h4>
                                        <p>@comment.comment</p>
                                        <p class="text-muted post-date">@comment.date</p>


                                    </div>

                                    <br>

                                </div>
                            </div>

                        }
                    </li>
                </ol>
            }
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">
                    <span>Leave A Comment</span>
                    <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="/wp/ablogia/runaway-a-road-adventure/#respond" style="display:none;">Cancel Reply</a>
                    </small>
                </h3>
                <form asp-controller="home" asp-action="postComment" method="post" class="mt-4">

                    <div class="comment-form-comment form-group">

                        <input asp-for="comment" id="comment" type="text" class="form-control" placeholder="Enter your thoughts" />
                        <span asp-validation-for="comment" class="text-danger"></span>
                    </div>
                    <div class="comment-form-author form-group">
                        <input asp-for="author" id="author" type="text" class="form-control" size="30" placeholder="Enter Your Name..." />
                        <span asp-validation-for="author" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="authormail" id="authormail" type="text" class="form-control" size="30" placeholder="Enter Your Email..." />
                        <span asp-validation-for="authormail" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="blogid" id="blogid" type="text" hidden="hidden" value="1" />

                    </div>

                    <p class="form-submit">
                        <input type="submit" id="subt" class="btn btn-dark" value="Post Comment" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>












