@model MyBlog.Models.CommentDTO
@{
    ViewData["Title"] = "Main";

   
}

<div id="single">
    <div class="container">
        <div class="post">
            @*<img src="~/images/DeathtosStockSerenity9.jpg" class="img-fluid" />*@

            <div class="header">
                <span class="post-tag">#Amicizia</span>
                <h1>Sull'Amicizia</h1>
            </div>

            <div class="caption">
                In effetti è probabile che due donne non conosceranno mai la nerboruta e virile (e un po’ puzzolente) intimità che si prova nello spogliatoio di una squadra di calcio (o di basket nel mio caso), ma ridurre l’amicizia a questo francamente mi sembra un po’ come dire… riduttivo.Le

                Ora, a ben guardare, nel nostro immaginario novecentesco e post- l’amicizia non ha poi questa gran parte, anzi non ne ha nessuna, relegata com’è a sentimento adolescenziale. L’amicizia è roba da ragazzini, ma diventati adulti dai, chi ci pensa più? Specie se si è maschi (la donna, si sa, si vede concesso un bonus di frivolezza di default), perché il maschio ha un suo rigore, una sua etica, e l’aver bisogno di amici viene visto come una debolezza più che come una risorsa.

                La cosa è perlomeno bizzarra, visto che l’amicizia tra maschi adulti è forse il topos più alto di tutta la letteratura pre-illuminista, da Eurialo e Niso a David e Gionata, fino a Gimli e Legolas (perché il SdA è certamente un romanzo preilluminista, anche se è uscito nel ’56).

                Siamo giunti perfino a sospettare queste vigorose e virili figure di amici di inconfessate passioni omosessuali (Davide e Gionata in particolare, nonostante che il primo abbia avuto quattro mogli e moltissimi figli, sono stati al centro del gossip per molto tempo).

                Tutto questo perché probabilmente non siamo più capaci di immaginare un amore che non sia possesso, che non voglia in fin dei conti soddisfarsi con l’altro. L’amicizia invece se le dessimo spazio nella nostra vita sarebbe una risorsa fondamentale. È un rischio, certo, perché all’inizio di ogni amicizia c’è un dono gratuito e dunque l’implicita possibilità che il dono non sia accolto e tuttavia è un rischio che vale sempre la pena di correre. Come è triste questo tempo che per paura di rischiare gli affetti ha rinunciato agli amici, tanto da doverli sostituire con quei surrogati a pagamento che sono psicologi e avvocati

                Sì, perché l’amico è lo specchio che mi rivela a me stesso, il sostegno della mia tristezza, il compagno della mia fatica. Il suono del suo passo accanto al mio rende più leggero il cammino, con lui il lavoro da maledizione diventa gioia (e quanto è duro invece lavorare senza avere amici attorno). L’amico è colui al quale posso dire la mia debolezza sena timore e dunque è il solo che mi dà riposo in un mondo che ci vorrebbe sempre in guerra, nell’amicizia virile c’è competizione, ma è una competizione giocosa, controllata, che ha la funzione fondamentale di un allenamento per la vita, dove la competizione invece è spietata e senza regole.

                Un caso particolare è l’amicizia tra uomo e donna. È ancora più rischiosa e ancora più difficile, perché al rischio del rifiuto si somma quello dell’innamoramento, che trasformerebbe l’amicizia in altro e non necessariamente auspicabile, ma quando si realizza è il paradiso in terra.

                Una donna non potrà mai essere una mia camerata, ma sostituisce il cameratismo con la complementarietà, è quindi per me una com-pagna (una con cui divido il pane) in modo totalmente diverso: laddove i miei difetti si sommano ai suoi ed insieme, prodigio dell’amore, diventano virtù. Per questo lavorare con un’amica è ancora più bello che lavorare con un amico. Con una donna non si entra in competizione, nemmeno quella giocosa. Si può dire che se l’amicizia tra uomini prepara alla battaglia, l’amicizia con una donna ne è il premio, la dimostrazione che è davvero possibile lavorare con gioia.

                Una donna poi porta nell’amicizia il suo carattere materno e dunque anche più di un uomo può diventare il custode della mia fragilità, la persona a cui potersi dire senza timore, ancora più di un amico, un’amica è il mio riposo.

                Confesso un mio limite però, non so immaginare cosa possa essere per una donna l’amicizia di un uomo, mi aiutate a capire amiche del blog?
                <br />
                <div style="text-align:center">*******</div>
                                                          

            </div>

         
        </div>
        <div id="comments" class="comments">
            @if (Model != null)
            {
                <div class="mt-5">
                    <h5 class="page-title-alt">
                        <span>
                            @Model.comments.Count Comments
                        </span>
                    </h5>
                </div>
                <ol class="media-list list-unstyled">
                    <li class="comment even thread-even depth-1 parent" id="comment-37">
                        @foreach (var comment in Model.comments)
                        {

                            <div id="div-comment-37" class="comment-wrap">
                                <div class="media">
                                    <img alt="" src="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=52&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7d8d9ecf60bf933673ef0b27c87b3965?s=104&amp;d=mm&amp;r=g 2x" class="avatar avatar-52 photo d-flex mr-3 rounded-circle" height="52" width="52">
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <p class="url">@comment.name</p>
                                        </h4>
                                        <p>@comment.comment</p>
                                        <p class="text-muted post-date">@comment.date</p>


                                    </div>

                                    <br>

                                </div>
                            </div>

                        }
                    </li>
                </ol>
            }
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">
                    <span>Leave A Comment</span>
                    <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="/wp/ablogia/runaway-a-road-adventure/#respond" style="display:none;">Cancel Reply</a>
                    </small>
                </h3>
                <form asp-controller="home" asp-action="postComment" method="post" class="mt-4">

                    <div class="comment-form-comment form-group">

                        <input asp-for="comment" id="comment" type="text" class="form-control" placeholder="Enter your thoughts" />
                        <span asp-validation-for="comment" class="text-danger"></span>
                    </div>
                    <div class="comment-form-author form-group">
                        <input asp-for="author" id="author" type="text" class="form-control" size="30" placeholder="Enter Your Name..." />
                        <span asp-validation-for="author" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="authormail" id="authormail" type="text" class="form-control" size="30" placeholder="Enter Your Email..." />
                        <span asp-validation-for="authormail" class="text-danger"></span>
                    </div>
                    <div class="comment-form-email form-group">
                        <input asp-for="blogid" id="blogid" type="text" hidden="hidden" value="1" />

                    </div>

                    <p class="form-submit">
                        <input type="submit" id="subt" class="btn btn-dark" value="Post Comment" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>












